:root{
    --color-corp: #205AA0;
    --shadow: inset 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.text-corp{
    color: var(--color-corp);
}
.shadow-inner{
    box-shadow: var(--shadow);
}
.fs-title{
    font-size: clamp(1.375rem, 1.05rem + 1.625vw, 3rem);
}
.fs-title-2{
    font-size: clamp(1.375rem, 1.15rem + 1.125vw, 2.5rem);
}
.fs-paragraph{
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.625rem);
}
.w-fit-content{
    width: fit-content;
}
/* main styles*/
body{
    background-color: #F5F5F5;
    font-family: 'Montserrat';
    font-weight: 500;
}
header{
    background-color: white;
    border-radius: 0 0 56px 56px;
}
.dropdown-toggle::after{
    display: none;
}
.nav-link{
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}
.border-bottom-corp{
    border-bottom: 3px solid #FFD173;
}
.globus-icon{
    padding: 5px 6px;
    border-radius: 50%;
    background: var(--color-corp);
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon{
    background-image: url('icons/burger.svg');
}
.btn-corp{
    text-transform: uppercase;
    color: white;
    padding: 5px 25px;
    background-color: var(--color-corp);
    border-radius: 21px;
    width: fit-content;
    font-weight: 600;
    font-size: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
}
.slider-btn-custom {
    color: var(--color-corp);
    padding: 5px 12px;
    background-color: white;
    border: none;
    border-radius: 50%;
}
.btn-box-banner{
    position: absolute;
    z-index: 2;
    margin-top: -100px;
    left: 55%;
    bottom: 15%;
    width: fit-content;
}
.btn-yellow{
    background-color: #FFD173;
}
.info-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider-btn-box-2{
    left: 52%;
    /* bottom: 5%; */
}
.icons-image-h{
    height: 165px;
}
.slider-btn-box-3{
    left: 50%;
    bottom: -25%;
    transform: translateX(-50%);
}
/*breackpoints*/

@media (max-width: 1200px){
    .border-bottom-corp{
        border: unset;
    }
}
@media (max-width: 990px){
    .logo{
        width: 100px;
    }
    header{
        border-radius: 0 0 40px 40px;
    }
    .slider-btn-box-2{
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 576px){
    header{
        border-radius: 0 0 30px 30px;
    }
    .logo{
        width: 80px;
    }
}